html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #001b24;
}

.body{
    margin: 0;
}

.logo {
    margin-top: 60px;
    position: relative;
    top: 60px;

}

.project {
    position: relative;
    width: 80%;
    display: table;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    border-radius: 30px;
    background-color: hsl(196, 100%, 11%);
    box-shadow: rgba(153, 46, 240, 0.4) -5px 5px, rgba(153, 46, 240, 0.3) -10px 10px, rgba(153, 46, 240, 0.2) -15px 15px, rgba(153, 46, 240, 0.4) 0px 5px, rgba(153, 46, 240, 0.3) 0px 10px, rgba(153, 46, 240, 0.2) 0px 15px, rgba(153, 46, 240, 0.1) 0px 20px, rgba(153, 46, 240, 0.05) 0px 25px, rgba(153, 46, 240, 0.4) 5px 5px, rgba(153, 46, 240, 0.3) 10px 10px, rgba(153, 46, 240, 0.2) 15px 15px, rgba(153, 46, 240, 0.1) 20px 20px, rgba(153, 46, 240, 0.05) 25px 25px;
}

.project2 {
    position: relative;
    width: 100%;
    display: table;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: hsl(196, 100%, 11%);
    box-shadow: rgba(153, 46, 240, 0.4) -5px 5px, rgba(153, 46, 240, 0.3) -10px 10px, rgba(153, 46, 240, 0.2) -15px 15px, rgba(153, 46, 240, 0.4) 0px 5px, rgba(153, 46, 240, 0.3) 0px 10px, rgba(153, 46, 240, 0.2) 0px 15px, rgba(153, 46, 240, 0.1) 0px 20px, rgba(153, 46, 240, 0.05) 0px 25px, rgba(153, 46, 240, 0.4) 5px 5px, rgba(153, 46, 240, 0.3) 10px 10px, rgba(153, 46, 240, 0.2) 15px 15px, rgba(153, 46, 240, 0.1) 20px 20px, rgba(153, 46, 240, 0.05) 25px 25px;
}

.development {
    position: relative;
    width: 80%;
    display: table;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    border-radius: 30px;
    background-color: #1a3e5e;
    box-shadow: rgba(240, 46, 46, 0.4) -5px 5px, rgba(240, 46, 46, 0.3) -10px 10px, rgba(240, 46, 46, 0.2) -15px 15px, rgba(240, 46, 46, 0.4) 0px 5px, rgba(240, 46, 46, 0.3) 0px 10px, rgba(240, 46, 46, 0.2) 0px 15px, rgba(240, 46, 46, 0.1) 0px 20px, rgba(240, 46, 46, 0.05) 0px 25px, rgba(240, 46, 46, 0.4) 5px 5px, rgba(240, 46, 46, 0.3) 10px 10px, rgba(240, 46, 46, 0.2) 15px 15px, rgba(240, 46, 46, 0.1) 20px 20px, rgba(240, 46, 46, 0.05) 25px 25px;
}

.my_work {
    position: relative;
    width: 80%;
    display: table;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    border-radius: 30px;
    background-color: #1a3e5e;
    box-shadow: rgba(46, 75, 240, 0.4) -5px 5px, rgba(46, 75, 240, 0.3) -10px 10px, rgba(46, 75, 240, 0.2) -15px 15px, rgba(46, 75, 240, 0.4) 0px 5px, rgba(46, 75, 240, 0.3) 0px 10px, rgba(46, 75, 240, 0.2) 0px 15px, rgba(46, 75, 240, 0.1) 0px 20px, rgba(46, 75, 240, 0.05) 0px 25px, rgba(46, 75, 240, 0.4) 5px 5px, rgba(46, 75, 240, 0.3) 10px 10px, rgba(46, 75, 240, 0.2) 15px 15px, rgba(46, 75, 240, 0.1) 20px 20px, rgba(46, 75, 240, 0.05) 25px 25px;

}

.navbar {
    width: 90%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.navbar-toggler {
    position: relative;
    width: 100%;
    border: none;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.collapse {
    text-align: center;
}

.main {
    background: url(../img/bg.jpg) center/cover no-repeat fixed;
    border-radius: 30px;
    text-align: center;
}

.services {
    border-radius: 30px;
    text-align: center;
    color: white;
}

.works {
    text-align: center;
    color: white;
    align-self: center;
    align-content: center;
}

.text-muted {
    font-size: 30px;
}

.intro {
    color: white;
}

.intro h2 {
    font-size: 20px;
    padding-bottom: 20px;
}

ul {
    margin: 0px auto 0;
    padding: 0;
    list-style: none;
    display: table;
    width: 600px;
    text-align: center;
}

li {
    display: table-cell;
    position: relative;
    padding: 15px 0;
}

a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;

    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover:after {
    width: 100%;
    left: 0;
}

.card {
    background-color: transparent;
    border: none;
    margin: 20px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    align-self: center;
}

.intro_more {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 48px auto 0;
    padding: 20px;
    width: 428px;
    height: 78px;
    font-size: 28px;
    line-height: 30px;
    font-weight: bold;
    color: #bd400b;
    background: url(../img/btn.png) center/cover no-repeat;
    cursor: pointer;
}

.h1 {
    position: relative;
    font-family: 'CoreCircus', sans-serif;
    font-size: 5vw;
    text-align: center;
    line-height: 1;
    margin: 0;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(45, 45, 45, 1);
    letter-spacing: -0.5rem;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

.h1:before {
    content: attr(data-heading);
    position: absolute;
    overflow: hidden;
    color: rgb(125, 0, 197);
    z-index: 5;
    text-shadow: none;
    left: 39.8%;
    text-align: left;
    animation: flicker 3s linear infinite;
    top: 2%;
}

@keyframes flicker {

    0%,
    19.999%,
    22%,
    62.999%,
    64%,
    64.999%,
    70%,
    100% {
        opacity: 0.99;
        text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.096), 1px -1px 0 rgba(255, 255, 255, 0.096), -1px 1px 0 rgba(255, 255, 255, 0.096), 1px 1px 0 rgba(255, 255, 255, 0.096), 0 -2px 8px, 0 0 2px, 0 0 5px #6800a5, 0 0 15px #30004d, 0 0 2px #6800a5, 0 2px 3px #000;
    }

    20%,
    21.999%,
    63%,
    63.999%,
    65%,
    69.999% {
        opacity: 0.4;
        text-shadow: none;
    }
}

.p-4 {
    background-color: #1c2024!important;
}

.first{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.last{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.accordion-item{
    background-color: #183944;
}

.accordion-button{
    color:white;
}

.accordion-button:not(.collapsed) {
    color: #9e9e9e;
    background-color: #0d2127;
}
@font-face {
    font-family: 'CoreCircus2DDot1';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.eot?#iefix') format('embedded-opentype'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.woff2') format('woff2'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.woff') format('woff'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.ttf') format('truetype');
}

@font-face {
    font-family: 'CoreCircus';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.eot?#iefix') format('embedded-opentype'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.woff2') format('woff2'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.woff') format('woff'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.ttf') format('truetype');
}


@media screen and (max-wight: 900px) {
    ul {
        margin-top: 40px;
    }

    .h1:before {
        left: 20%;
    }
}